@import url('https://fonts.googleapis.com/css2?family=Smooch+Sans:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Smooch+Sans:wght@600&family=Ubuntu:wght@300;400;500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fjalla+One&family=Smooch+Sans:wght@600&family=Ubuntu:wght@300;400;500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fjalla+One&family=Secular+One&family=Smooch+Sans:wght@600&family=Ubuntu:wght@300;400;500;700&display=swap');
body {
    background-color: #202124;
    font-family: 'bahnschrift', sans-serif;
}
/*#info{
    background-color: rgb(28, 28, 28);
    box-shadow: rgb(22, 22, 22) 0px 0px 20px 0px;
    border-radius: 20px;
    height: 600px;
    width: 620px;
    margin: auto;
    overflow: hidden;
}*/
#copy{
    margin-top: 35px;
}
#social{
    margin-top: 18px;
}
h1{
    margin-top: 46px;
    margin-bottom: 25px;
    font-size: 40px;
    color: rgb(255, 255, 255);
    text-shadow: rgb(22, 22, 22) 0px 0px 20px 0px;
    0 6px 1px rgba(0,0,0,.1),
    0 0 5px rgba(0,0,0,.1),
    0 1px 3px rgba(0,0,0,.3),
    0 3px 5px rgba(0,0,0,.2),
    0 5px 10px rgba(0,0,0,.25),
    0 10px 10px rgba(0,0,0,.2),
    0 20px 20px rgba(0,0,0,.15);
    }
p{
    color: rgb(0, 0, 0);
    text-shadow: rgb(22, 22, 22) 0px 0px 20px 0px;
    0 6px 1px rgba(0,0,0,.1),
    0 0 5px rgba(0,0,0,.1),
    0 1px 3px rgba(0,0,0,.3),
    0 3px 5px rgba(0,0,0,.2),
    0 5px 10px rgba(0,0,0,.25),
    0 10px 10px rgba(0,0,0,.2),
    0 20px 20px rgba(0,0,0,.15);
}
a:link {
    color: rgb(255, 255, 255);
    text-decoration: none;
}
a:hover {
    color: rgb(170, 170, 170);
    text-decoration: underline;
}
a:visited {
    color: rgb(255, 255, 255);
}
.foto_enio{
    border-radius: 100px;
    margin-top: 20px;
    margin-bottom: 8px;
    box-shadow: rgb(22, 22, 22) 0px 0px 6px 0px;
}
.zoom{
    overflow: hidden;
    height: 250px;
    width: 250px;
    margin: auto;
}
.zoom img{
    max-width: 100%;
    -moz-transition: all 0.3s;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
}
.zoom:hover img{
    -moz-transform: scale(1.1);
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
}
.social_media{
    overflow: hidden;
    margin: auto;

}
.socialmedia img{
    max-width: 100%;
    -moz-transition: all 0.3s;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
}
.social_media:hover img{
    -moz-transform: scale(1.1);
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
}